header{
    background-color: blue; 
    margin: 52px;
    padding: 52px;
    border: 52px solid lightblue;
    color:white;
}
  
nav{
    background-color: orange;
    margin: 12px;
    padding: 12px;
    border: 12px solid lightgrey;
 } 
main {
    background-color: lightgrey;
    margin: 10px;
    padding: 10px;
    border: 10px solid lightslategray;
}
footer {
    background-color: black;
    margin: 15px;
    padding: 15px;
    border: 15px solid lightgrey;
    color: white;
}
section {
    background-color: yellow;
    margin: 21px;
    padding: 21px;
    border: 21px solid lightgray;
}
 article{
     background-color: green;
     margin: 21px;
     padding: 21px;
     border: 21px solid lightgrey;
 }
  aside{
     background-color: purple;
     margin: 19px;
     padding: 19px;
     border: 19px solid lightgrey;
  }